<h1>Character Search</h1>
<p>Search for your favorite character below...</p>

<form method="POST" action="/characterSearch">
    <label for="characterName">Character Name</label>
    <input id="characterName" type="text" name="characterName">
    <input type="submit">
  </form> 


<ul>
 <% characters.forEach(function(character) { %>
  <li><%= character.name %></li>
  <li> <img src="<%= character.image %>" alt="<%= character.name %>"></li>


  <form method="POST" action="/favorite">
    <input hidden type="text" name="name" value="<%= character.name %>">
    <input hidden type="text" name="species" value="<%= character.species %>">
    <input hidden type="text" name="status" value="<%= character.status %>">
    <input hidden type="text" name="image" value="<%= character.image %>">

    <button type=“submit”>Add to Favorites</button>
  </form> 

 <% }) %>
</ul>

