<h3>Character Search Results</h3>

<form method="POST" action="/characterSearch">
    <label for="characterName">Character Name</label>
    <input id="characterName" type="text" name="characterName">
    <input type="submit">
  </form> 
<br>

<ul>
    <% characterSearch.forEach(characters => { %>
       <li><%=characters.name%></li>
       <li style="list-style-type: none;"> <img src="<%= characters.image %>" alt="<%= characters.name %>"></li>

    
       <form method="POST" action="/favorite">
        <input hidden type="text" name="name" value="<%= characters.name %>">
        <input hidden type="text" name="species" value="<%= characters.species %>">
        <input hidden type="text" name="status" value="<%= characters.status %>">
        <input hidden type="text" name="image" value="<%= characters.image %>">
    
        <button type=“submit”>Add to Favorites</button>
        <br>
        <br>
      </form> 

 <% }) %>
</ul>
