<h2>A list of all your favorite Rick and Morty characters:</h2>

<a href="/rickandmorty">Back to Characters List</a>
<br>
<br>

<form method="POST" action="/characterSearch">
    <label for="characterName">Character Name:</label>
    <input id="characterName" type="text" name="characterName">
    <input type="submit">
  </form> 
<br>
<ul>
    <% for (key in favorite) { %>
        <li style="list-style-type: none;"> <%= favorite[key].name %> </li>
        <li style="list-style-type: none;"> <img src="<%= favorite[key].image %>" alt="<%= favorite[key].name %>"></li>
        <li style="list-style-type: none;"> Status = <%=favorite[key].status %></li>
        <li style="list-style-type: none;"> Species = <%=favorite[key].species %></li>

        <form method="POST" action="/favorites/<%= favorite[key].id %>?_method=DELETE">
            <input type="submit" value="Remove From Favorites">
        </form>
        <form method="POST" action="/favorites/<%= favorite[key].id %>?_method=PUT">
            <input type="submit" value="Change Status to Dead">
        </form>
<br>
<br>

        
    <% } %>
    
</ul>

<br>
<br>

<a href="/rickandmorty">Back to Characters List</a>




